
<div class="studentCard">
    <div>
        <span class="cardHead"><strong><%= company.companyName %></strong></span>
    </div>
    <div>
        <span class="scoreHead"><strong>Interview Date: </strong></span>
        <p><strong><%= company.interviewDate %></p></strong></p>
    </div>
    <button class="btn">Select</button>
</div>