body{
    background-color: rgb(251,251,251);
    /* box-sizing: border-box; */
}
nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
section{
    display: inline-block;
    margin: 1%;

}
h1{
    margin-top: 4%;
    margin-bottom: 2%;
    font-style: oblique;
}
table{
    width:98vw;
    /* padding: 40px; */
    font-family: sans-serif;
    border-collapse: collapse;
}

th,td{
    text-align: left;
    padding: 5px;
    margin: 4px;
    border:1px solid lightgrey;
}
#linkToAllocateInterview{
    font-size: 15px;
}
button{
    background-color: rgb(0, 0, 0);
    /* padding: 5px; */
    /* margin: 15px; */
    border: 1px solid rgb(255, 255, 255);
}

