body{
    width: 97%;
}
nav{
    padding:15px;
    background-color: rgb(0, 0, 0);
    margin-top: -0.4%;
    width: 100%;

}
nav > a:hover{
     color: aqua;
}
a{
    text-decoration: none;
    color: white;
}

/* css for company list page */

.student_list_container {
    display: flex;
    flex-direction: row;
  }
  .companyList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -40px;
  }
 button{
    /* width: 100%; */
    height:25%;
    font-size: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
 }

 
 .companyList button{
    width: 60%;
    height:25%;
    font-size: 13px;
    align-items: center;
    padding: 10px;
    background-color: black;
    align-items:center;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
 }
 .companyList table{
  margin: 20px;
 }
  .studentCard {
    padding: 10px;
    width: 20%;
    color: #000000;
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .studentCardActions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
  }

  .cardHead {
    font-size: 20px;
  }

  .scoreHead {
    margin-top: 10px;
  }

  .cardLinks {
    width: 50%;
  }
  
