body{
    width: 97%;
}
nav{
    padding:15px;
    background-color: rgb(0, 0, 0);
    margin-top: -0.4%;
    width: 100%;

}
nav > a:hover{
     color: aqua;
}
a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;

}


/* button {
    background-color: transparent;
    border-radius: 12px;
    color: #111010;
    border: 2px solid #111111;
    padding: 5px 10px;
    cursor: pointer;
  } */
  
